@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-image: url("./images/nordwood-themes.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

/* Header style */

.header {
  font-weight: 700;
}

/* Form style */

.form-style {
  background-color: #cacacbe5;
  border-radius: 10px;
}

.textarea {
  height: 100px !important;
}

.ing-item {
  list-style: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  min-width: 15rem;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.close-form {
  font-size: 1rem !important;
}

.form-icons {
  width: 1.2em;
  height: 1.2em;
}
/* BUTTONS style */

.btn-close {
  font-size: 0.75rem;
}

.btn-delete {
  /* width: 3.5rem; */
  font-size: 2.75rem;
  border-radius: 10%;
  color: #f70808;
  cursor: pointer;
}

.btn-delete:hover {
  border: 2px solid #f70808;
}

.btn-operators {
  font-size: 1.7rem;
  color: #0a652b;
  cursor: pointer;
}

/* Validation style */

.validation-text {
  font-size: 0.75rem;
}

/* Accordion style */

.accordion-button {
  color: white !important;
  font-size: 1.25rem;
  background-color: #198754 !important;
  border-color: #13653f !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("./images/arrow-up.png");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./images/arrow-up.png");
  transform: rotate(-180deg);
}

.accordion-button:focus {
  box-shadow: none;
}

.f-bold {
  font-weight: 700;
}

.recipe-sections {
  background-color: #cacacb6e;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.recipe-ing {
  border-bottom: 1px solid white;
}

.recipe-info {
  line-height: 1.2rem;
}

/* Footer style */

.main-footer {
  background-color: #a4a4a4e2;
}

.main-footer a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.main-footer a:hover {
  text-decoration: underline;
}

/* madia quesry for small screen*/
@media (max-width: 500px) {
  .mx-5 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .ing-item {
    max-width: 100%;
  }
  blockquote {
    font-size: 0.75rem;
  }
  .recipe-sections {
    /* max-width: 95%; */
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  .recipe-info {
    font-size: 0.85rem;
  }
  .main-footer {
    font-size: 0.85rem;
  }
  body {
    background-attachment: scroll;
  }
}
