@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url("./images/nordwood-themes.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Header style */

.header {
  font-weight: 700;
}

/* Form style */

.form-style {
  background-color: #cacacbe5;
  border-radius: 10px;
}

.textarea {
  height: 100px !important;
}

.ing-item {
  list-style: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  min-width: 15rem;
  background-color: #ffffff;
}

/* BUTTONS style */

.btn-close {
  font-size: 0.75rem;
}

.btn-delete {
  /* width: 3.5rem; */
  font-size: 2.75rem;
  border-radius: 10%;
  color: #f70808;
  cursor: pointer;
}

.btn-delete:hover {
  border: 2px solid #f70808;
}

.btn-operators {
  font-size: 1.7rem;
  color: #0a652b;
  cursor: pointer;
}

/* Validation style */

.validation-text {
    font-size: 0.75rem;
}


/* Accordinf style */

.accordion-button {
  color: white !important;
  font-size: 1.25rem;
  background-color: #198754 !important;
  border-color: #13653f !important;
}

.f-bold {
  font-weight: 700;
}

.recipe-sections {
  background-color: #cacacb6e;
  border-radius: 10px;
}

.recipe-ing {
  border-bottom: 1px solid white;
}

.recipe-info {
  /* font-size: 0.85rem; */
  line-height: 1.2rem;
}


/* madia quesry for small screen*/
@media (max-width: 500px){
  .mx-5 {
    margin-left:  10px !important;
    margin-right:  10px !important;
  }
  .ing-item {
    max-width: 100%;
  }
  blockquote {
    font-size: 0.75rem;
  }
  .recipe-sections {
    /* max-width: 95%; */
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  .recipe-info {
    font-size: 0.85rem;
  }
}
